/* universal */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

/* ============= nav-bar styles ============== */
header {
  background-color: #fff4e7;
  overflow: hidden;
}
.nav-section {
  display: flex;
  justify-content: space-between;
  margin-left: 228px;
  margin-top: 50px;
  color: #ff900e 10%;
}
.nav-bar ul {
  display: flex;
  list-style: none;
  color: #424242;
  font-weight: 500;
  font-size: 18px;
  gap: 50px;
  margin-top: 22px;
  margin-right: 240px;
}
.co-name {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
}
@media only screen and (max-width: 688px) {
  .nav-section {
    flex-direction: column;
    margin: 0px;
  }
  .nav-bar ul {
    flex-direction: column;
    text-align: center;
    margin-left: 120px;
  }
}
/* =============== banner section style ================== */
.content {
  text-align: center;
  margin-top: 102px;
  color: #131313;
  font-weight: 700;
  font-size: 64px;
}
.content-description {
  text-align: center;
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  width: 868px;
  margin-left: 300px;
  margin-top: 30px;
}
.banner-btn {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  background: #ff900e;
  border-radius: 8px;
  padding: 20px 24px;
  border: none;
  margin-top: 30px;
}
/* mobile responsiv */
@media only screen and (max-width: 688px) {
  .content-description {
    width: 100%;
    margin-left: 0;
  }
  .content {
    text-align: center;
  }
  .banner-btn {
    margin-left: 50px;
  }
}

/* ============ banner image style ============= */

.image img {
  margin-top: 50px;
  width: 1100px;
  margin-left: 215px;
  margin-bottom: 45px;
}

@media only screen and (max-width: 688px) {
  .image img {
    width: 100%;
    margin-left: 0;
  }
  
}

/* =================== feature section styles ============== */
.feature-section {
  display: flex;
  gap: 70px;
  margin-top: 75px;
  margin-left: 240px;
}
.picture-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.picture img {
  width: 100%;
  margin: auto;
}
.feature-content {
  margin-top: 50px;
}

.feature-description {
  margin-top: 24px;
  margin-bottom: 2px;
  width: 70%;
}
@media only screen and (max-width: 688px) {
  .picture-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .feature-section {
    flex-direction: column;
    width: 100%;
    margin-left: 0px;
  }
  .feature-title {
    margin-left: 50px;
  }
  .picture,
  img {
    width: 100%;
  }
  .feature-description {
    margin-left: 30px;
  }
  
}
/* ===================About me styles=================== */
.promo {
  text-align: center;
  width: 50%;
  justify-content: center;
  margin-left: 400px;
}
.promo-title {
  font-weight: 700;
  font-size: 45px;
  margin-top: 70px;
}
.promo-video {
  margin-top: 30px;
  margin-left: 280px;
}
@media only screen and (max-width: 688px) {
  .promo {
    width: 75%;
    margin-left: 5px;
  }
  .promo-video {
    margin-left: 0;
  }
  .promo-video video {
    width: 100%;
    
  }
}

/* ================ skill section style ==================== */
.skill-container {
  position: relative;
}
.skill-content {
  display: flex;
  margin-left: 200px;
  margin-top: 100px;
  gap: 54px;
}
.skills-title {
  width: 30%;
}
.title {
  border-left: 5px solid #ff900e;
  padding-left: 25px;
}
.skills-title,
h4 {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 24px;
}
.skill-title,
p {
  color: #727272;
  font-size: 16px;
}
.skill-one {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-left: 15px;
  padding: 15px;
  margin-top: 30px;
}
.skill-name {
  font-weight: 600;
  font-size: 20px;
}
.skill-description {
  font-size: 16px;
}
.skill-pic img {
  width: 90%;
}
.btn-container {
  margin-bottom: 60px;
}
.btn {
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
  background: #ff900e;
  border-radius: 8px;
  padding: 40px 36px;
  position: absolute;
  bottom: 20px;
  right: 40%;
  margin-left: 600px;
  border: none;
}
@media only screen and (max-width: 688px) {
  .skill-content {
    flex-direction: column;
    margin-left: 0;
  }
  .skills-title {
    width: 100%;
  }
  .skill-title,
  p {
    margin-left: 20px;
  }
  .btn {
    width: 100%;
    margin-left: 0;
    bottom: -250px;
    left: 0;
  }
  .skill-pic img {
    width: 100%;
}

}

/* ================= some facts styles ==================== */
.facts {
  margin-left: 225px;
  width: 40%;
}
.f-title {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
}
.f-description {
  color: #727272;
  font-size: 16px;
}
.box-container {
  width: 80%;
  margin: 0 auto;
}
.box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  margin-top: 100px;
  grid-gap: 40px;
}
.icon {
  border: 1px solid tomato;
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  transition: all 0.3s;
}
.icon:hover {
  transform: rotate(45deg);
}
.number {
  color: #424242;
  font-weight: 600;
  font-size: 50px;
}
.para {
  font-weight: 600;
  font-size: 30px;
}
@media only screen and (max-width: 688px) {
  .facts {
    margin-left: 50px;
    width: 70%;
    margin-top: 330px;
  }
  .box {
    grid-template-columns: repeat(1, 1fr);
  }
  .icon img {
    width: 20%;
    margin-bottom: 20px;
  }
  
}
/* ================= footer styles ===================== */
.footer {
  width: 35%;
  text-align: center;
  margin-left: 500px;
  margin-top: 180px;
}
.footer-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 24px;
}
.footer-para {
  color: #727272;
  font-size: 16px;
}
.footer-container {
  width: 100%;
  margin-left: 220px;
  margin-top: 50px;
  margin-bottom: 130px;
}
.footer-icon {
  display: flex;
  justify-content: space-between;
}
.copywrite {
  background: #fff4e7;
  border-radius: 8px;
  width: 80%;
  margin-left: 160px;
  margin-bottom: 210px;
}
.copy {
  color: #424242;
  font-size: 20px;
  padding: 20px 280px;
}

/* ======================= mobile responsive ====================== */
@media only screen and (max-width: 688px) {
  .footer-container {
    width: 25%;
    margin-left: 150px;
  }
  .footer {
    width: 100%;
    text-align: center;
    margin-left: 0;
}
.footer-icon {
  flex-direction: column;
  row-gap: 30px;
}
.copywrite {
  width: 100%;
  margin-left: 0;
}
.copy {
  padding:0;
}
}
